.heading{
text-align: center;
font-size: 4rem;
padding: 1rem;
margin: 2rem 0;
color: #2E1906;
}
  
  .user{
    width:5px;
    height:auto;
    float:left;
  }

  .info {
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #D0C3AF;
    color: #fff;    
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    align-items: center;
   
 }

 .image{
  width:100px;
  height:100px;
 }